
<div id="querybuildertable">
  <form action="{% url 'query_results' session.key %}">
    Give your query a name: <input class="query_name" name="query_name" id="query_name"></input><br/>
    Select dataset:
    <select multiple name="used_dataset">
      {% for dataset in session.real_and_virtual_sets %}
      <option value="{{dataset.set_id}}">{{dataset.short_description}}</option>
      {% endfor %}
    </select>
    <table class="querybuildertable">
      <tr class="queryrow">
        <td><input class="no_flag_box" type="checkbox" name="no_flag1" value="checked"> <strong>NOT</strong>
        </td>
        <td><select name="query_type1" class="query_type">
          <option value="mutated_at_site">Mutated at site</option>
          <option value="mutations_per_sequence">Number of mutations per sequence</option>
          <option value="at_mutations">Number of A:T mutations per sequence</option>
          <option value="cg_mutations">Number of C:G mutations per sequence</option>
          <option value="mutating_aa">Mutating amino acid:</option>
          <option value="mutations_at_hotspot">Mutated at hotspot:</option>
          <option value="indels_per_sequence">Number of indels per sequence</option>
          <option value="sequence_count">Sequence frequency:</option>
        </select></td>
        <td>
          <div class="pos_div">Position: <input name="position1" type="text" size="5" ></div>
          <div class="mut_count" hidden="true">Range: Min <input name="min_mut1" class="minbox" type="text" size="3" > Max: <input name="max_mut1" type="text" class="maxbox" size="3" ></div>
          <div class="aa" hidden="true">From Amino Acid (1 character): <input name="aa_fr1" class="frbox" type="text" size="1" maxlength="1"> To : <input name="aa_to1" class="tobox" type="text" size="1" maxlength="1"></div>
          
          <div class="hs" hidden="true">Hotspot <small>(Single consensus only)</small><select name="hs_id1" class="hs_id">
            {% for hs in all_hs %}
              <option value="{{hs.id}}">{{hs.full_motif}}</option>
            {% endfor %}
            </select>
          </div>
        </td>
      </tr>
      <tr class="extras">
        <td></td>
        <td><button type="button" class="add_row">Add new constraint</button></td>
        <td><button>RUN QUERY</button></td>
      </tr>
    </table>
  </form>
</div>
  <a href="{% url 'show_session' session.key %}">Back</a>
<script type="text/javascript">
  magicNumber = 2;
  function handleThings(thisObj){
    var opt = $(thisObj).val();
    if(opt == "cg_mutations" || opt == "at_mutations" || opt == "mutations_per_sequence" || opt== "indels_per_sequence" || opt == "sequence_count"){
        $(thisObj).parents("tr.queryrow").find(".mut_count").show();
        $(thisObj).parents("tr.queryrow").find(".pos_div").hide();
        $(thisObj).parents("tr.queryrow").find(".aa").hide();
        $(thisObj).parents("tr.queryrow").find(".hs").hide();
    } else if(opt == "mutating_aa" || opt == "mutating_aa_to"){
      $(thisObj).parents("tr.queryrow").find(".mut_count").hide();
      $(thisObj).parents("tr.queryrow").find(".pos_div").hide();
      $(thisObj).parents("tr.queryrow").find(".aa").show();
      $(thisObj).parents("tr.queryrow").find(".hs").hide();
    } else if(opt == "mutations_at_hotspot"){
        $(thisObj).parents("tr.queryrow").find(".mut_count").hide();
        $(thisObj).parents("tr.queryrow").find(".pos_div").hide();
        $(thisObj).parents("tr.queryrow").find(".aa").hide();
        $(thisObj).parents("tr.queryrow").find(".hs").show();
    } else {
      $(thisObj).parents("tr.queryrow").find(".mut_count").hide();
      $(thisObj).parents("tr.queryrow").find(".pos_div").show();
      $(thisObj).parents("tr.queryrow").find(".aa").hide();
      $(thisObj).parents("tr.queryrow").find(".hs").hide();
    }
  }
  $("select.query_type").bind("change", function(){handleThings($(this))});
  $("button.add_row").bind("click", function(){
    var added_row = $("table.querybuildertable tr:first").clone();
    added_row.find(".pos_div > input").attr("name", "position"+magicNumber);
    added_row.find(".mut_count > input.minbox").attr("name", "min_mut"+magicNumber);
    added_row.find(".mut_count > input.maxbox").attr("name", "max_mut"+magicNumber);
    added_row.find(".aa > input.frbox").attr("name", "aa_fr"+magicNumber);
    added_row.find(".aa > input.tobox").attr("name", "aa_to"+magicNumber);
    added_row.find("input.no_flag_box").attr("name", "no_flag"+magicNumber);
    added_row.find("select.query_type").attr("name", "query_type"+magicNumber);
    added_row.find("select.hs_id").attr("name", "hs_id"+magicNumber);
    added_row.find("select.query_type").bind("change", function(){handleThings($(this))});
    $("table.querybuildertable tr:last").before(added_row);
    handleThings(added_row.find("select.query_type"));
    magicNumber = magicNumber + 1;
  });
</script>