{% load tags_extras %}
<table class='querybuildertable' id="table{{identifier}}">
<tr>
  <td>{{request.GET.query_type1}} ->:
    <br/>
    {{request.GET.query_type2}}
    </td>

{% for data_row in data_rows.0 %}
<td>
  {{forloop.counter0}}
  {% if forloop.counter0 >= 10 %}
    +
  {% endif %}
</td>
{% endfor %}
</tr>
{% for data_row in data_rows %}
  <tr>
  <td>{{forloop.counter0}}
    {% if forloop.counter0 >= 10 %}
      +
    {% endif %}
    </td>
  {% for stat in data_row %}
    <td>
    {{stat}}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
<button id="export{{identifier}}" data-export="export">Save to CSV</button>

<script>
  makeLineGraph('hi',{{data_rows.0}},14);
  $("#export{{identifier}}").click(function(){
    $("table.querybuildertable#table{{identifier}}").tableToCSV();
  });
</script>