<td><select name="query_type{{crit_id}}" class="query_type">
  <option value=""></option>
   <option value="mutations_per_sequence">Number of mutations per sequence</option>
   <option value="at_mutations">Number of A:T mutations per sequence</option>
   <option value="cg_mutations">Number of C:G mutations per sequence</option>
   <option value="silent_mutations">Number of synonymous (silent) mutations</option>
   <option value="rep_mutations">Number of nonsynonymous (amino-acid changing) mutations</option>
   <option value="transition_mutations">Number of transition (C:T,A:G) mutations</option>
   <option value="transversion_mutations">Number of transversion (A:T,A:C,G:T,C:G) mutations</option>
   <option value="wrc_hotspots">WRC (AID) hotspot mutations:</option>
   <option value="indels_per_sequence">Number of indels per sequence</option>
 </select></td>
