{% extends "base.html" %}

{% block title %}SHMServer contact information{% endblock %}

{% block content %}
<div style="text-align:center; width=500px">
<h3>Contact information</h3>
<p>For queries regarding troubleshooting, suggestions, or other issues you have regarding SHMTool 2.0, please contact the administrator at {{settings.ADMINISTRATOR_EMAIL}}</p>
</div>
{% endblock %}