{% extends "base.html" %}

{% block title %}Make a new session{% endblock %}

{% block content %}
  {% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
  <h1>This is the create session view.</h1>
  <p>Upload any number of processed FASTA files below. Specify the label of the consensus sequence below.</p>
  <form action="{% url 'upload_form' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Session descriptive name:</label>
    <input type="test" id="description" name="description">
    <div id="total_form">
      <div id="dataset1" class="dataset_div">
		<input type="checkbox" id="is_imgt-1" name="is_imgt-1" onchange="toggleIMGT(this)"><label>  Check for IMGT input</label><br>
		<!--<p><font size="1"><b><u>NOTE</u></b>: If you are using "CONSCOUNT", "CELLTYPE", or "DUPCOUNT" with data from IMGT please also include the Fasta file.</font></p>-->
        <label>Fasta file:  </label><input type="file" id="wat1" name="wat1">
		<label hidden=true id="imgtLabel1">IMGT file:  </label><input type="file" id="imgtFile1" name="imgtFile1" hidden=true>
        <br>
        CONSENSUS:<br>
        <input type="text" id="consensus1" name="consensus1" value="CONSENSUS">
        <br>
        Write a short (optional) description of your dataset below:<br>
        <input type="text" id="short_description1" name="short_description1">
        <br>
      </div>
    </div>
    <button type="button" class="add_divisions">Add another dataset!</button>
    <input type="submit">
  </form>
  <script type="text/javascript">
	function toggleIMGT(element) {		
		var num = element.id.split("-")[1];
		
		var imgtLabel = document.getElementById("imgtLabel"+num);
		var imgtFile = document.getElementById("imgtFile"+num);
		imgtLabel.hidden = !element.checked;
		imgtFile.hidden = !element.checked;
		
		if(element.checked) {
			var dataDiv = document.getElementById("dataset"+num);
			var fastaFile = document.getElementById("wat1"+num);
			
			var div = document.createElement('div');
			div.id = "noteDiv"+num;
			div.innerHTML = "<p><font size=\"1\"><b><u>NOTE</u></b>: If you are using \"CONSCOUNT\", \"CELLTYPE\", or \"DUPCOUNT\" with data from IMGT please also include the Fasta file.</font></p>";
			dataDiv.insertBefore(div, fastaFile);
		} else {
			var dataDiv = document.getElementById("dataset"+num);
			
			dataDiv.removeChild(document.getElementById("noteDiv"+num));
		}
	}
  
    var magic_no = 2;
    $("button.add_divisions").bind("click", function(){
      $("#total_form").append("<div id=\"dataset"+magic_no+"\" class=\"dataset_div\"></div>");
	  $("#dataset"+magic_no).append("<input type=\"checkbox\" id=\"is_imgt-"+magic_no+"\" name=\"is_imgt-"+magic_no+"\" onchange=\"toggleIMGT(this)\"><label>  Check for IMGT input</label><br>");
      $("#dataset"+magic_no).append("<label>Fasta file:  </label><input type=\"file\" id=\"wat"+magic_no+"\" name=\"wat"+magic_no+"\">");
	  $("#dataset"+magic_no).append("<label hidden=true id=\"imgtLabel"+magic_no+"\">IMGT file:  </label><input type=\"file\" id=\"imgtFile"+magic_no+"\" name=\"imgtFile"+magic_no+"\" hidden=true>");
	  $("#dataset"+magic_no).append("<br>CONSENSUS:<br>");
      $("#dataset"+magic_no).append("<input type=\"text\" id=\"consensus"+magic_no+"\" name=\"consensus"+magic_no+"\" value=\"CONSENSUS\"><br>Write a short (optional) description of your dataset below:<br>");
      $("#dataset"+magic_no).append("<input type=\"text\" id=\"short_description"+magic_no+"\" name=\"short_description"+magic_no+"\"><br>");
      magic_no += 1;
    });
  </script>
{% endblock %}
