{% extends "base.html" %}

{% block title %}Datasets comparison{% endblock %}

{% block content %}
  <img src="{{image_root}}" height="666">
  <a href="{% url 'show_session' session.key %}">Back</a>
  <br/>
  <form action="{% url 'datasets_compare' session.key %}" method="get">
    <select name="set1">
      {% for dataset in session.real_and_virtual_sets %}
      <option value="{{dataset.set_id}}">{{dataset.short_description}}</option>
      {% endfor %}
    </select> and: 
    <select name="set2">
      {% for dataset in session.real_and_virtual_sets %}
      <option value="{{dataset.set_id}}">{{dataset.short_description}}</option>
      {% endfor %}
    </select>
  Reselect comparison gene:
  <select name="genename">
  {% for cons in selectable_genes %}
  
    <option value="{{cons.id}}">{{cons.gene}}</option>
  
  {% endfor %}
  </select>
  <input type="submit" value="Submit">
  <br/>
{% endblock %}