{% extends "base.html" %}

{% block title %}Editing Session: {{session.description}} {% endblock %}

{% block content %}
Editing Session: {{session.description}} 
<form action="{% url 'edit_session' session.key %}" method="post">
  {% csrf_token %}
  Edit session name:<br/>
  <label for="your_name">Your name: </label>
    <input id="description" type="text" name="description" value="{{ session.description }}"><br/>
  Edit virtual datasets:
  <ul>
  {% for vdataset in session.virtualdataset_set.all %}
    <li> Dataset: {{vdataset.short_description}}
      <hr>
      Virtual dataset ID: {{vdataset.id}}
      <label for="{{vdataset.id}}">Description: </label>
      <input id="v{{vdataset.id}}" type="text" name="v{{vdataset.id}}" value="{{vdataset.short_description }}">

    </li>
  {% endfor %}
  </ul>
  <input type="submit" value="OK">
</form>

{% endblock %}