{% extends "base.html" %}

{% block title %}SHMServer help{% endblock %}

{% block content %}
<div style="text-align:center">
  <h2>Getting started</h2>
  
<p>SHMTool 2.0 is a tool for statistical analysis and visualization of next-gen sequencing Immunoglobulin data, particularly of sequences that are highly mutated, consistent with the immune response. This service is a part of a larger pipeline of complete analysis, and currently accepts sequence data from two platforms: SHMPrep, and V-region data obtained from <a href="http://www.imgt.org">IMGT (international ImMunoGeneTics)</a></p>
<br/>
<p>To upload SHMPrep data, please run SHMPrep locally. The SHMPrep tool can be found and installed here: <a href="#">Placeholder</a>. Make sure each of your raw sequence files (usually ending in .fastq) are matched up properly. SHMPrep may automatically upload the data to this repository, in which case it should provide you a link to your experiment so you can continue visualization. To manually upload the SHMPrep results, you may also upload your processed files (usually ending in .fasta or .fa) to the Upload Session link above. Please make sure your consensus sequence is present and specified.</p>
<br/>
<p>IMGT data obtained from V-QUEST may also be uploaded. Similarly using the "Upload session" link shown in the above menu, select the .txt file corresponding to the gapped sequences and upload it. SHMTool uses consensus alleles from IMGT for human and mouse to determine mismatches so please be careful that your data corresponds to those species and those alleles for proper analysis!</p>

<p>Example datasets of both SHMPrep data and IMGT data are provided Here:<a href="#">Placeholder</a> and <a href="#">Placeholder</a></p>
<br/>
<h2>How to analyze</h2>
<p>After uploading, you may notice a link to a session that you created. (You need cookies enabled on your browser to see this). Simply click on the link to open a page viewing your current session. For each file you have uploaded, a dataset is created. You may view the distribution of mutations of each dataset, or statistically compare the number of different types of mutations or mutations at hotspots between several datasets. The statistical analyses are conducted using Fisher's exact test.</p>
<br/>
<h2>Visualization</h2>
<p>SHMTool uses R plotting libraries to visualize mutations</p>
<br/>
<h2>Virtual datasets</h2>

<p>SHMTool offers the possibility of splitting your datasets into "virtual datasets" so you can selectively compare subsets of your data. For example, you may wish to look at control animals with at least 2 mutations per sequence.</p>
</div>
{% endblock %}