{% extends "base.html" %}

{% block title %}Hotspots per Sequence analysis{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/js/d3.min.js"></script>

  {% for dataset in sets_to_use %}
  <div class="dataset_div">
  <h3>Internal Dataset id: {{dataset.id }}</h3>
  <br>

  

  <div class="dataset_div">
    <form action="{% url 'hotspots_per_sequence' session.key %}" method="get">
    <input id="ds" name="ds" value="{{dataset.set_id}}" hidden="hidden">
    Reselect comparison gene:
    <select name="genename">
    {% for cons in dataset.consensuses_list %}
    
      <option value="{{cons.id}}">{{cons.gene}}</option>
    
    {% endfor %}
    </select>
    <input type="submit" value="Submit">
    <br/>
  <h3>Internal Dataset id: {{dataset.set_id }}</h3>
  <br>
  <h2>Dataset Description: {{dataset.short_description }}<br>
  <h2>The mutation profile of this dataset is: </h2>
  <div id="hotspots_plot">
    <img src="{{dataset.hotspots_sequence_image_url}}">
  </div>
  <br>
  </form>
  </div>
  </div>
  {% endfor %}

  <br>

  <a href="{% url 'show_session' session.key %}">Back</a>
{% endblock %}