{% extends "base.html" %}

{% block title %}SHMServer main screen{% endblock %}
{% load tags_extras %}
{% block content %}

  <div id="maintext">
  <p><h1>SHMServer QueryBuilder</h1></p>
  
  <table class="announcements-table">
    <tr class="table-header">
      <td><strong>About SHMTools 2.0</strong>
        <div style="float:right; font-size:80%">
        </div>  
      </td>
    </tr>
    <tr>
      <td class="table-info">
        <div class="news-item">
          <div class="news-content">
            <p>QueryBuilder is an online service that allows users to make meaningful analysis of immunoglobulin sequence data. What positions are particularly hypermutated? What mutated positions are often seen together? What is the impact of certain mutations? QueryBuilder allows the user to get answers to these frequent questions and more. </p>
            <p>If you have sequenced an immunoglobulin region, your raw data may be in the form of a FASTQ file containing quality scores and calls for each read. We recommend you do further processing with our own software to get a cleaned, processed FASTA file. Our software can be found here:</p>
            <p>If you have a processed dataset to analyze, upload it on the upload session above.</p>
          </div>
        </div>
      </td>
    <tr>
  </table>
  </div>
  
  <div id="news">
    <p><h1>News and Announcements</h1></p>
    <br>
    <table class="announcements-table">
      <tr class="table-header">
        <td><strong>Announcements</strong>
          <div style="float:right; font-size:80%">
          </div>  
        </td>
      </tr>
      {% for news_item in news.items %}
      <tr>
        <td class="table-info">
          <div class="news-item">
            <div class="news-header">
              <h4>
              {{news_item.date}}: {{news_item.title}}
              </h4>
            </div>
            <div class="news-content">
              <p>{{news_item.text}}</p>
            </div>
          </div>
          <hr>
        </td>
      <tr>
      {% endfor %}
    </table>
  </div>
  
  <div id="terms-of-use">
    <br>
    <table class="announcements-table">
      <tr class="table-header">
        <td><strong>Terms of Use</strong>
          <div style="float:right; font-size:80%">
          </div>  
        </td>
      </tr>
      <tr>
        <td class="table-info">
          <div class="news-item">
            <div class="news-content">
              <p>All data uploaded to the repository is publicly accessible to everyone and stored for a maximum of four weeks. Please note that by storing your data here, you consent to your data being public-facing and viewable by anyone. If you wish to store your data for longer than that please contact the administrator of this site and give a link to the data you wish to store: <a href="mailto: {% help_contact %}?subject=Storing data for public&body=I have some data on SHMServer I wish to keep.">{% help_contact %}</a>  </p>
            </div>
          </div>
        </td>
      <tr>
    </table>
  </div>

{% endblock %}

