{% extends "base.html" %}
{% load tags_extras %}
{% block title %}Session {{session.key}} {% endblock %}

{% block content %}
<script type="text/javascript" src="/static/js/jquery.tabletoCSV.js"></script>
<script type="text/javascript" src="/static/js/pretty_pie.js"></script>
{% for set in session.real_and_virtual_sets %}
<div id="imgt_list_{{set.set_id}}">
  <div style="float:left">
    <table id="table{{set.set_id}}" class="querybuildertable">
    <tr>
      <td>Dataset {{set.set_id}}</td>
      <td>Gene</td>
      <td>Frequency</td>
    </tr>
    {% for k, v in set.consensuses_list_freqs|listsort %}
    <tr>
      <td></td>
      <td>{{k}}</td>
      <td>{{v|round2}}</td>
    </tr>
    {% endfor %}
    
    </table>
      <button id="export{{set.set_id}}" data-export="export">Export table to file</button>
  </div>

  <script>
  $("#export{{set.set_id}}").click(function(){
    $("table.querybuildertable#table{{set.set_id}}").tableToCSV();
  });
  
  </script>
  
  <div style="float:left">
    <div id="tooltip"></div>
    <div id="piechart_{{set.set_id}}" style="float:left"></div>
  </div>
</div>
<script>
  var sortObject = function(obj){
    var sortable = [];
    var temp_hash = {};
    for (var i in obj){
          sortable.push([i, obj[i]]);
          sortable.sort(
            function(a, b) {
              return a[1] - b[1]
           }
          )
    }
    for(i=0; i < sortable.length; i++){
      temp_hash[sortable[i][0]] = Number(sortable[i][1]);
    }
    return(temp_hash);
  }
  var myData = {{set.consensuses_list_freqs|safe}};
  var myData = sortObject(myData, 'value');
  var thing = []
  for (var key in myData){
    thing.push({"label":key,"value":Number(myData[key]).toFixed(5)});
  }
  
  var divname = "div#piechart_{{set.set_id}}";
  makePrettyPie(divname, thing, "Gene breakdown of this dataset");  
</script>
{% endfor %}


{% endblock %}
