{% extends "base.html" %}
{% load tags_extras %}
{% block title %}Statistical comparison of mutations at hotspots{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/js/jquery.tabletoCSV.js"></script>
  {% include "_comparisons_key.html" %}
  <h3>Non-Unique Mutations at Motifs</h3>
  <table id="nonunique" class="mutation_profile">
    <tr>    
    <td>Mutation Type</td><td>Left group mutations</td><td>Right group mutations</td><td>Left group sites</td><td>Right group sites</td><td>Total left group sites</td><td>Total right group sites</td><td>% left group mutated</td><td>% right group mutated</td><td>p-value</td>
    </tr>
    {% for hs, vals in m.items %}
    <tr>
      <td>{{hs}}</td><td>{{vals.CT}}</td><td>{{vals.CA}}</td><td>{{vals.SITES_CT}}</td><td>{{vals.SITES_CA}}</td><td>{{vals.NCT}}</td><td>{{vals.NCA}}</td><td>{{vals.PR_CT|round}}</td><td>{{vals.PR_CA|round}}</td><td>{{vals.P|round}}</td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <button id="export_nonunique" data-export="export">Save to CSV</button>
  <h3>Unique Mutations at Motifs</h3>
  <table id="unique_mutations" class="mutation_profile">
    <tr>    
    <td>Mutation Type</td><td>Left group mutations</td><td>Right group mutations</td><td>Left group sites</td><td>Right group sites</td><td>Total left group sites</td><td>Total right group sites</td><td>% left group mutated</td><td>% right group mutated</td><td>p-value</td>
    </tr>
    {% for hs, vals in u.items %}
    <tr>
      <td>{{hs}}</td><td>{{vals.CT}}</td><td>{{vals.CA}}</td><td>{{vals.SITES_CT}}</td><td>{{vals.SITES_CA}}</td><td>{{vals.NCT}}</td><td>{{vals.NCA}}</td><td>{{vals.PR_CT|round}}</td><td>{{vals.PR_CA|round}}</td><td>{{vals.P|round}}</td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <button id="export_unique" data-export="export">Save to CSV</button>
  <script>
    $("#export_nonunique").click(function(){
      $("table#nonunique").tableToCSV();
    });
    $("#export_unique").click(function(){
      $("table#unique_mutations").tableToCSV();
    });
  </script>
  <a href="{% url 'show_session' session.key %}">Back</a>
{% endblock %}