{% extends "base.html" %}

{% block title %}Motif Positions{% endblock %}

{% block content %}
  {% for dataset in session.dataset_set.all %}
    <div class="dataset_div">
    <h3>Internal Dataset id: {{dataset.id }}</h3>
    <br>
    
    <h2>Dataset Description: {{dataset.short_description }}</h2><br>
    {% for spot, locations in dataset.longest_consensus.hotspot_total_coordinates.items %}
      <div class="spot_div">
      <strong>{{spot}}</strong> : 
      {% for pos in locations %}
        {{pos}},
      {% endfor %}
      </div>
      <br>
    {% endfor %}
    <br>
    </div>
  {% endfor %}
  <a href="{% url 'show_session' session.key %}">Back</a>
{% endblock %}