{% extends "base.html" %}

{% block title %}Motif Positions{% endblock %}

{% block content %}
  <div id="tooltip"></div>
  <script type="text/javascript" src="/static/js/mutation_type_plot.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tabletoCSV.js"></script>
  {% for dataset in session.real_and_virtual_sets %}
  <div class="dataset_div">
    <h3>Internal Dataset id: {{dataset.id }}</h3>
    <br>
    
    <h2>Dataset Description: {{dataset.short_description }}</h2><br>
    <h3>Non-unique mutations at motifs:</h3>
    <button id="export_motifs_{{dataset.set_id}}" data-export="export">Save to CSV</button>

    <br>
    <table id="motifs_{{dataset.set_id}}" class="querybuildertable">
      <tr>
        <td>motif</td><td>A</td><td>C</td><td>G</td><td>T</td>
      </tr>
    {% for motif, blagh in dataset.mutations_at_motifs.items %}

      <td>{{motif}}:</td>
      <td>{{blagh.A}}</td>
      <td>{{blagh.C}}</td>
      <td>{{blagh.G}}</td>
      <td>{{blagh.T}}</td>
      </tr>
    {% endfor %}
    </table>
    <div id="plot_{{dataset.set_id}}">
    </div>
    <br>
    <h3>Unique mutations</h3>
        <button id="export_unique_motifs_{{dataset.set_id}}" data-export="export">Save to CSV</button><br/>
    <table id="unique_motifs_{{dataset.set_id}}" class="querybuildertable">
      <tr>
        <td>motif</td><td>A</td><td>C</td><td>G</td><td>T</td>
      </tr>
      <tr>
        {% for motif, blagh in dataset.mutations_at_motifs.items %}

          <td>{{motif}}:</td>
          <td>{{blagh.A}}</td>
          <td>{{blagh.C}}</td>
          <td>{{blagh.G}}</td>
          <td>{{blagh.T}}</td>
      </tr>
    {% endfor %}
    <br>
    </table>
    <div id="plot_unique_{{dataset.set_id}}">
    </div>
  </div>
    <script>
      
      render_plot("#plot_{{dataset.set_id}}", {{dataset.js_friendly_motif_mutation_dict|safe}},0);
      render_plot("#plot_unique_{{dataset.set_id}}", {{dataset.js_friendly_unique_motif_mutation_dict|safe}},0);
      $("#export_motifs_{{dataset.set_id}}").click(function(){
        $("table#motifs_{{dataset.set_id}}").tableToCSV();
      });
      $("#export_unique_motifs_{{dataset.set_id}}").click(function(){
        $("table#unique_motifs_{{dataset.set_id}}").tableToCSV();
      });
    </script>
  {% endfor %}
  
  <a href="{% url 'show_session' session.key %}">Back</a>
{% endblock %}