{% extends "base.html" %}

{% block title %}Mutations Profile{% endblock %}
{% load tags_extras %}
{% block content %}
 <script type="text/javascript" src="/static/js/jquery.tabletoCSV.js"></script>
  <div id="tooltip"></div>
  {% for dataset in session.real_and_virtual_sets %}
    {% with dataset.mutation_type_count as mut_count%}
    {% with dataset.unique_mutation_type_count as unique_count %}
    {% with dataset.mutation_type_pct as pct %}
      <div class="dataset_div col-md-8">
      <!-- TODO: make sure the following doesn't get displayed on production-->
      <h3>Internal Dataset id: {{dataset.id }}</h3>
      <br>
      <div id="dataset_{{dataset.set_id}}">
        <h2>Dataset: {{dataset.short_description }}</h2>
                           
        <br>
        <div class="tooltip">Mutation counts
          <span class="tooltiptext">
            <p>Each entry represents the number of mutations from one nucleotide to another</p>
            <p>The column at the end represents total number of mutations at different nucleotides (counting multiples of the same sequence as well)</p>
          </span>
        </div>
         <button id="export_nonunique{{dataset.set_id}}" data-export="export">Save to CSV</button>
          <table class='table mutation_profile' id="counts{{dataset.set_id}}">
            <tr>
              <td>fr/to</td>
              <td>A</td><td>C</td><td>G</td><td>T</td><td>Total</td>
            </tr>
            <tr>
              <td>
                A
              </td>
              <td>
                0
              </td>
              <td>
                {{ mut_count.AC}}
              </td>
              <td>
                {{ mut_count.AG}}
              </td>
              <td>
                {{ mut_count.AT}}
              </td>
              <td>
                {{ mut_count.A}}
              </td>
            </tr>
            <tr>
              <td>
                C
              </td>
              <td>
                {{ mut_count.CA}}
              </td>
              <td>
                0
              </td>
              <td>
                {{ mut_count.CG}}
              </td>
              <td>
                {{ mut_count.CT}}
              </td>
              <td>
                {{ mut_count.C}}
              </td>
            </tr>
            <tr>
              <td>
                G
              </td>
              <td>
                {{ mut_count.GA}}
              </td>
              <td>
                {{ mut_count.GC}}
              </td>
              <td>
                0
              </td>
              <td>
                {{ mut_count.GT}}
              </td>
              <td>
                {{ mut_count.G}}
              </td>
            </tr>
            <tr>
              <td>
                T
              </td>
              <td>
                {{ mut_count.TA}}
              </td>
              <td>
                {{ mut_count.TC}}
              </td>
              <td>
                {{ mut_count.TG}}
              </td>
              <td>
                0
              </td>
              <td>
                {{ mut_count.T}}
              </td>
            </tr>
          <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{mut_count.N}}</td>
          </table>

          <div class="tooltip">Fractions:
            <span class="tooltiptext">
              <p>Each entry is the percentage of mutations from one nucleotide to another, out of the total number of mutations observed at that original nt</p>
              <p>The last column represents, e.g. total number of mutations that were at A, C, G, or T</p>
              <p>The last column and last row is the overall mutation rate</p>
              
            </span>

          </div>
                              <button id="export_nonunique_pcts{{dataset.set_id}}" data-export="export">Save to CSV</button>
          <table class='table mutation_profile' id="pcts{{dataset.set_id}}">
            <tr>
              <td>fr/to</td>
              <td>A</td><td>C</td><td>G</td><td>T</td><td>Total</td>
            </tr>
            <tr>
              <td>
                A
              </td>
              <td>
                0
              </td>
              <td>
                {{ pct.AC|round2}}
              </td>
              <td>
                {{ pct.AG|round2}}
              </td>
              <td>
                {{ pct.AT|round2}}
              </td>
              <td>
                {{ pct.A|round2}}
              </td>
            </tr>
            <tr>
              <td>
                C
              </td>
              <td>
                {{ pct.CA|round2}}
              </td>
              <td>
                0
              </td>
              <td>
                {{ pct.CG|round2}}
              </td>
              <td>
                {{ pct.CT|round2}}
              </td>
              <td>
                {{ pct.C|round2}}
              </td>
            </tr>
            <tr>
              <td>
                G
              </td>
              <td>
                {{ pct.GA|round2}}
              </td>
              <td>
                {{ pct.GC|round2}}
              </td>
              <td>
                0
              </td>
              <td>
                {{ pct.GT|round2}}
              </td>
              <td>
                {{ pct.G|round2}}
              </td>
            </tr>
            <tr>
              <td>
                T
              </td>
              <td>
                {{ pct.TA|round2}}
              </td>
              <td>
                {{ pct.TC|round2}}
              </td>
              <td>
                {{ pct.TG|round2}}
              </td>
              <td>
                0
              </td>
              <td>
                {{ pct.T|round2}}
              </td>
            </tr>
          <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{pct.N|round2}}</td>
          </table>

       </div>
       <div id="unique_dataset_{{dataset.id}}">   
          Unique:
                              <button id="export_unique{{dataset.set_id}}" data-export="export">Save to CSV</button>
          <table class='table mutation_profile' id="unique_counts{{dataset.set_id}}">
            <tr>
              <td>fr/to</td>
              <td>A</td><td>C</td><td>G</td><td>T</td><td>Total</td>
            </tr>
            <tr>
              <td>
                A
              </td>
              <td>
                0
              </td>
              <td>
                {{ unique_count.AC}}
              </td>
              <td>
                {{ unique_count.AG}}
              </td>
              <td>
                {{ unique_count.AT}}
              </td>
              <td>
                {{ unique_count.A}}
              </td>
            </tr>
            <tr>
              <td>
                C
              </td>
              <td>
                {{ unique_count.CA}}
              </td>
              <td>
                0
              </td>
              <td>
                {{ unique_count.CG}}
              </td>
              <td>
                {{ unique_count.CT}}
              </td>
              <td>
                {{ unique_count.C}}
              </td>
            </tr>
            <tr>
              <td>
                G
              </td>
              <td>
                {{ unique_count.GA}}
              </td>
              <td>
                {{ unique_count.GC}}
              </td>
              <td>
                0
              </td>
              <td>
                {{ unique_count.GT}}
              </td>
              <td>
                {{ unique_count.G}}
              </td>
            </tr>
            <tr>
              <td>
                T
              </td>
              <td>
                {{ unique_count.TA}}
              </td>
              <td>
                {{ unique_count.TC}}
              </td>
              <td>
                {{ unique_count.TG}}
              </td>
              <td>
                0
              </td>
              <td>
                {{ unique_count.T}}
              </td>
            </tr>
          </table>

        <br>
        Fraction:
                          <button id="export_unique_pcts{{dataset.set_id}}" data-export="export">Save to CSV</button>
        <table class='table mutation_profile' id="unique_pcts{{dataset.set_id}}">
          <tr>
            <td>fr/to</td>
            <td>A</td><td>C</td><td>G</td><td>T</td><td>Overall mutation rate</td>
          </tr>
          <tr>
            <td>
              A
            </td>
            <td>
              0
            </td>
            <td>
              {{ unique_count.ACpct|round2}}
            </td>
            <td>
              {{ unique_count.AGpct|round2}}
            </td>
            <td>
              {{ unique_count.ATpct|round2}}
            </td>
            <td>
              {{ unique_count.Apct|round2}}
            </td>
          </tr>
          <tr>
            <td>
              C
            </td>
            <td>
              {{ unique_count.CApct|round2}}
            </td>
            <td>
              0
            </td>
            <td>
              {{ unique_count.CGpct|round2}}
            </td>
            <td>
              {{ unique_count.CTpct|round2}}
            </td>
            <td>
              {{ unique_count.Cpct|round2}}
            </td>
          </tr>
          <tr>
            <td>
              G
            </td>
            <td>
              {{ unique_count.GApct|round2}}
            </td>
            <td>
              {{ unique_count.GCpct|round2}}
            </td>
            <td>
              0
            </td>
            <td>
              {{ unique_count.GTpct|round2}}
            </td>
            <td>
              {{ unique_count.Gpct|round2}}
            </td>
          </tr>
          <tr>
            <td>
              T
            </td>
            <td>
              {{ unique_count.TApct|round2}}
            </td>
            <td>
              {{ unique_count.TCpct|round2}}
            </td>
            <td>
              {{ unique_count.TGpct|round2}}
            </td>
            <td>
              0
            </td>
            <td>
              {{ unique_count.Tpct|round2}}
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ unique_count.Npct|round}}</td>
          </tr>
        </table>

        </div>
      </div>
      <script>
        $("#export_nonunique{{dataset.set_id}}").click(function(){
          $("table#counts{{dataset.set_id}}").tableToCSV();
        });
        $("#export_nonunique_pcts{{dataset.set_id}}").click(function(){
          $("table#pcts{{dataset.set_id}}").tableToCSV();
        });
        $("#export_unique{{dataset.set_id}}").click(function(){
          $("table#unique_counts{{dataset.set_id}}").tableToCSV();
        });
        $("#export_unique_pcts{{dataset.set_id}}").click(function(){
          $("table#unique_pcts{{dataset.set_id}}").tableToCSV();
        });
      </script>
    {% endwith %}
    {% endwith %}
    {% endwith %}
  {% endfor %}
  <br>
  
  <a href="{% url 'show_session' session.key %}">Back</a>
  <script type="text/javascript" src="/static/js/mutation_type_plot.js"></script>
  {% for dataset in session.real_and_virtual_sets %}
    <script>
  
      render_plot("#dataset_{{dataset.set_id}}", {{dataset.js_friendly_mutation_dict|safe}},1)
      render_plot("#unique_dataset_{{dataset.set_id}}", {{dataset.js_friendly_unique_mutation_dict|safe}},1)
    </script>
  {% endfor %}
{% endblock %}
