{% extends "base.html" %}
{% load tags_extras %}
{% block title %}Mutations per Unique Sequence analysis{% endblock %}

{% block content %}
  <script type="text/javascript" src="/static/js/jquery.tabletoCSV.js"></script>
  {% for dataset in session.real_and_virtual_sets %}
  {% with dataset.set_id as set_id %}
  <div class="dataset_div">
  <!-- TODO: make sure the following doesn't get displayed on production-->
  <h3>Dataset id: {{lol_id }}</h3>
  <br>
  
  <h2>Dataset Description: {{dataset.short_description }}<br>
  <h2>The mutation profile of this dataset is: </h2>
  <br>
  <img src="{{dataset.mutation_histogram_image_url}}">
  <table class="display" id="table{{set_id}}">
    <tr>
      <th>Mutations
      </th>
      {% for something in seq_counts|dict_from_key_off_index:set_id %}
      <th>
        {{forloop.counter0}}{% if forloop.counter0 >= 20 %}+{% endif %}
      </th>
      {% endfor %}
    </tr>
    <tr>
      <td>Count
      </td>
      {% for something in seq_counts|dict_from_key_off_index:set_id %}
    
      <td>
        {{something}}
      </td>
      {% endfor %}
    </tr>
    <tr>
      <td>Fraction
      </td>
      {% for something in pcts|dict_from_key_as_is:set_id %}
    
      <td>
        {{something|round2}}
      </td>
      {% endfor %}
    </tr>
  </table>
  </div>
  <button id="export{{set_id}}" data-export="export">Export</button>
  
  <script>
  $("#export{{set_id}}").click(function(){
    $("table.display#table{{set_id}}").tableToCSV();
  });
  
  </script>
  {% endwith %}
  {% endfor %}
  <br>

  <a href="{% url 'show_session' session.key %}">Back</a>
{% endblock %}