{% extends "base.html" %}

{% block title %}Query Results{% endblock %}

{% block content %}
<div id="chart">
  <div id="tooltip">Ohai</div>
</div>
{% for id in subcounts %}
<div id="chart{{id.id}}">
  Dataset {{id.name|safe}} breakdown:
  <br/>
</div>
{% endfor %}

<br>
{% include 'shmserver/_query_builder_form.html' %}
<br>
<form action="{% url 'virtual_session' session.key %}" method='post'>
  {% csrf_token %}
  
  {% for k, v in request.GET.items %}
    <input type='hidden' name='{{k}}' value="{{v}}">
  {% endfor %}
  
  Select datasets to be saved as separate virtual datasets:<br/>
  <select multiple type='hidden' name="used_dataset_ids">
  {% for ds_id in ds_ids %}
    <option value="{{ds_id}}" selected="selected">{{ds_id}}</option>
  {% endfor %}
  </select>
  <br>
  <a href="{{dataset.querybuilder_fasta_export_url}}" target="_blank" download="{{models.Dataset.querybuilder_default_file}}">Click here to save results as FASTA </a>
  <br/>
  Save results as virtual dataset:<br/>
  With descriptive name:
  <input name='vd_set_name' id='vd_set_name'><br/>
  <input type="checkbox" name="combine_sets" id="combine_sets">
  Check if you want to make one virtual dataset for each dataset selected, rather than combine results:<br/>
  
  <input type="submit">
</form>
<br>
<a href="{% url 'query_builder' session.key %}">Back to Query Builder</a>
<br>
<a href="{% url 'show_session' session.key %}">Back</a>
<script type="text/javascript" src="/static/js/pretty_pie.js"></script>
<script>
  
  var countData = {{subcounts|safe}} //[{'id':'1', 'in':50, 'out':50}, {'id'....}]
  for (i=0; i < countData.length; i++){
    var titlename = countData[i]['query_type'];
    var divname = "div#chart" + countData[i]['id'];
    var thing = [{"label":"in set", "value":countData[i]['in']},
                 {"label":"not", "value":countData[i]['out']}];
    makePrettyPie(divname, thing, titlename);             
  }
</script>
{% endblock %}