{% extends "base.html" %}

{% block title %}Reports for datasets of session: {{session.key}} {% endblock %}


{% block content %}
<script type="text/javascript" src="/static/js/jquery.tabletoCSV.js"></script>
<script type="text/javascript" src="/static/js/pretty_line.js"></script>
<h2>Reports</h2>
Choose up to two criteria:
 <div id="reportertable">
   <form action="{% url 'reports' session.key %}">
     Select dataset:
     <select multiple name="used_dataset">
       {% for dataset in session.real_and_virtual_sets %}
       <option value="{{dataset.set_id}}">{{dataset.short_description}}</option>
       {% endfor %}
     </select>
     <table class="querybuildertable">
       <tr class="queryrow">
         <td><strong>Criteria:</strong>
         </td>
         {% include 'shmserver/_select_reporter_criteria_partial.html' with crit_id=1%}
         </tr>
         <tr class="queryrow">
           <td><strong>Criteria:</strong>
           {% include 'shmserver/_select_reporter_criteria_partial.html' with crit_id=2%}
           </tr>

     </table>
     <button>View Counts</button>
   </form>
   <td></td>
 </div>
{% if results_hash %}
  {% for a, b in results_hash.items %}
    {{a}}
    {% include 'shmserver/_reporter_table.html' with data_rows=b identifier=forloop.counter0%}
  {% endfor %}
{% endif %}
{% endblock %}
