{% extends "base.html" %}

{% block title %}Session {{session.key}} {% endblock %}

{% block content %}
  <span class="status_msg">
  {{status_msg}}
  </span>
  <h1>Perform comparative analyses or query building, for session: {{session.description}} with id: {{session.id}} and key: {{session.key}}. </h1>
  <br>

  <ul>
    <div id="query_builder_menu" class="query_builder_menu">
      <h3>QueryBuilder</h3>
      <ul>
        <li><a href="{% url 'query_builder' session.key %}">Query Builder</a></li>
      </ul>
    </div>
    <br>
  <h3>Simple Reports</h3>
  <br>
  <div>
    <ul>
      <li><a href="{% url 'reports' session.key %}">Statistics Reporting</a></li>
    </ul>
  </div>
  <h3>Assign Groups</h3>
  <br>
  Assign statistical groups (for sequences with CDR3 data):
  <form action="{% url 'assign_groups' session.key %}" method="post">
    {% csrf_token %}
    Assign groups with clustering parameter (0.68 recommended):
    <input name="cluster_param" id="cluster_param" value="0.68"></input>
    <select name="set1">
      {% for dataset in session.dataset_set.all %}
      <option value="{{dataset.set_id}}">{{dataset.short_description}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Submit">
  </form>
  <h3>Analyses</h3>

  <br>
  <li>Mutations per Sequence
    <ul>
      <li><a href="{% url 'mutations_per_sequence' session.key %}">View</a></li>
    </ul>
  </li>
  <li>General mutation profiles (entire sequence)
    <ul>
      <li><a href="{% url 'mutation_profile' session.key %}">Unique and non-unique mutations for all datasets</a></li>
      <li>
        Compare datasets:
        <form action="{% url 'mutations_compare' session.key %}">
          <select multiple name="set1">
            {% for dataset in session.real_and_virtual_sets %}
            <option value="{{dataset.set_id}}">{{dataset.short_description}}</option>
            {% endfor %}
          </select> and: 
          <select multiple name="set2">
            {% for dataset in session.real_and_virtual_sets %}
            <option value="{{dataset.set_id}}">{{dataset.short_description}}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Submit">
        </form>
      </li>
    </ul>
    
  </li>
  <li>Motif mutation profiles
    <ul>
      <li><a href="{% url 'motif_mutations' session.key %}">Unique and non-unique mutations</a></li>
      <li><a href="{% url 'motif_positions' session.key %}">Motif Positions</a></li>
      <li>
        Compare datasets:
        <form action="{% url 'motifs_compare' session.key %}">
          <select multiple name="set1">
            {% for dataset in session.real_and_virtual_sets %}
            <option value="{{dataset.set_id}}">{{dataset.short_description}}</option>
            {% endfor %}
          </select> and: 
          <select multiple name="set2">
            {% for dataset in session.real_and_virtual_sets %}
            <option value="{{dataset.set_id}}">{{dataset.short_description}}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Submit">
        </form>
      </li>
    </ul>
  </li>
  <li>Spatial plots
    <ul>
      <li>View
        <form action="{% url 'datasets_compare' session.key %}">
          <select name="set1">
            {% for dataset in session.real_and_virtual_sets %}
            <option value="{{dataset.set_id}}">{{dataset.short_description}}</option>
            {% endfor %}
          </select> and: 
          <select name="set2">
            {% for dataset in session.real_and_virtual_sets %}
            <option value="{{dataset.set_id}}">{{dataset.short_description}}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Submit">
        </form>
      </li>
    </ul>
  </li>
  
  <li>IMGT Gene breakdown
    <ul>
      <li><a href="{% url 'list_imgt_genes' session.key %}">View</a></li>
    </ul>
  </li>
  <li>Hotspot Plots
    <ul>
      <li><a href="{% url 'hotspots_per_sequence' session.key %}">View</a></li>
    </ul>
  </li>
  <li>Edit Session info
    <ul>
      <li><a href="{% url 'edit_session' session.key %}">View</a></li>
    </ul>
  </li>
  </ul>
  <p></p>
{% endblock %}

