{% extends "base.html" %}

{% block title %}Session {{session.key}} {% endblock %}

{% block content %}
This dataset has {{dataset.total_groups}} groups.
<div id="groups_plot">
  Groups
  <img src="{{dataset.groups_image_url}}">
</div>
<div id="trees_plot">
  Dendrogram
  <img src="{{dataset.groups_trees_image_url}}">
</div>
<div id="main_form">

<form action="{% url 'assign_groups' session.key %}" method="post">
    <a href="{{dataset.cluster_csv_export_url}}" target="_blank" download="{{models.Dataset.cluster_fasta_default_file}}"> Get summary of clusters here </a>
  <br>
  {% csrf_token %}
  ReAssign groups with clustering parameter (0.68 recommended):
  <input name="cluster_param" id="cluster_param" value="0.68"></input>
  <input name="set1" id="set1" value="{{dataset.set_id}}" hidden="true"></input>
  <input type="submit" value="Submit">
</form>
</div>
{% endblock %}