.navbar{
  background-color: #053A9C;
  
}

li.navbar-item{
  color: #FFFFFF;
}

.body{
  background-color: #00FF00;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.shmserver-panel .caption {
  padding: 0px;
  border-color: #d6e9c6;
  border: 1px solid #8888FF;
  text-align: center;
  height: 280px;
}

.container { width: @container-desktop !important; }

.panel-heading {
  background-color: #C0C0F0;
}

.panel-title {
  background-color: #C0C0F0;
}

.panel-body{
  text-align: center;
  min-height: 10;
  max-height: 10;
}

.panel{
  border-color: #d6e9c6;
}