body{
  font-family: "Helvetica";
  background-color: #f0f0d0;
  height:100%;
}

* {
  margin: 0;
}

body p{
  margin: 5px;
}

path.reports {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
 
line.reports {
    stroke: black;
}
 
text.reports {
    font-family: Arial;
    font-size: 9pt;
}
.fixed-nav-bar {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #C0C0F0;
}

a.hide {
  display: none;
}

.menu {
  width: 90%;
  max-width: 960px;
  margin: 0px auto;
}


img.navbarlogo{
  position: absolute;
  height:50px;
  bottom: 0px;
  z-index:-999;
}

.menu-items {
  display: inline-block;
}

.menu {
  
  color: #053A9C;
}

.menu a, .menu a:visited {
  color: #053A9C;
}
.menu a:hover, .menu a:target {
  color: #808000;
}

.menu-items li{
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.menu a {
  text-decoration: none;
}
.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}
.fixed-nav-bar li, .fixed-nav-bar a {
  height: 50px;
  line-height: 50px;
}
#sidebar{
  float: left;
  background-color: #C0C0C0;
  background-color: #457AEC;
  background-color: #C0C0F0;
  border: 2px solid grey;
  margin: 2px;
  width: 200px;
  height: 100%;
  bottom: 0;
  font-family: "Verdana";
}

table.querybuildertable{
  border: 1px solid black;
}

table.display{
  border: 1px solid black;
}

table.display td{
  border: 1px solid black;
}

table.querybuildertable td{
  border: 1px solid black;
}

table.mutation_profile{
  border: 1px solid black;
}

table.mutation_profile td {
  border: 1px solid black;
}

.dataset_div{
  border-radius: 10px;
  margin: 4px;
  padding: 10px;
  background-color: #C0C0F0;
}

#sidebar ul{
  width: center;
  list-style: none outside none;
  padding-left:0;
}

#sidebar .sidebar-sessions{
  background-color: #659AEC;
  background-color: #C0C0F0;
}

#sidebar .sidebar-sessions ul li{
  text-align: center;
  
}

/*tooltip classes shamelessly taken from w3schools: try it http://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_right*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #404080;
    font-family: "Helvetica";
    font-size:12px;
    color: #FFF;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#sidebar ul li{
  padding: 5px;
  font-family: "Helvetica";
  background-color: #6060D0;
  background-color:  #F0F0C0;
  margin: 5px;
  width: 75%;
}

#sidebar ul li li{
  font-size: 75%;
}
#container {
  display: table;
  margin-top: 50px;
  height:100%;
  position: absolute;
}

#content{
  padding: 50px 25px;
  margin-left: 200px;
}

#maintext{
  padding: 5px;
}

table.announcements-table{
  
  width: 80%;
  border: 2px solid grey;
}

table.announcements-table tr.table-header{
  background-color: #C0C0F0;
  font-size: 120%;
}

.news-header{
  font-size: 120%;
  color: #000080;
}

#chart-thing {
  height: 360px;
  position: relative;
  width: 360px;
}
#tooltip {
  display: none;
  position: fixed;
  background-color: #fff;
  border: 1px solid #555;
  width: 100px;
  height: 40px;
}