<table>
  <tr>
    <td>Left Group:</td><td>Right Group:</td>
  </tr>
  <tr>
    <td>
      {% for set in sets1 %}
      {{set.short_description}}<br/>
      {% endfor %}
      </td>
    <td>
      {% for set in sets2 %}
      {{set.short_description}}<br/>
      {% endfor %}
      </td>
  </tr>
</table>