{% load staticfiles %}
{% load tags_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/static/js/d3.min.js"></script>
  <script type="text/javascript" src="/static/js/pretty.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/additional.css' %}">

    <title>{% block title %}SHM Server QueryBuilder{% endblock %}</title>
    <style>

    .bar {
      fill: steelblue;
    }

    .bar:hover {
      fill: brown;
    }

    .axis {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }
    </style>
</head>

<body>
  <div class="fixed-nav-bar">
    <img class="navbarlogo" src="/static/logo.png">
    <div id="menu" class="menu">

      
       <!-- Example responsive navigation menu  -->
       <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
       <div style="text-align:center">
       <ul class="menu-items">
         <li><a href="{% url 'index' %}">Home</a></li>|
         <li><a href="{% url 'create_session' %}">Upload session</a></li>|
         <li><a href="{% url 'help' %}">Help</a></li>|
         <li><a href="{% url 'contact' %}">Contact</a></li>
       </ul>
       </div>
    </div>
  </div>
  
  <div id="container">
    <div id="sidebar">
        {% block sidebar %}
        {% if request.session.saved_sessions != None %}
        <div class="sidebar-sessions">
          Saved sessions<br>
          <ul>
          {% for saved_session in request.session.saved_sessions %}
          
            <li>Session {{saved_session|desc_from_key:saved_session}}<br> <a href="{% url 'show_session' saved_session %}">{{saved_session}}</a></li>
          
          {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if session %}
          <hr>
          Datasets in Session with Session ID: {{session.id}} with key {{session.key}}:
          <ul>
          {% for dataset in session.dataset_set.all %}
            <li>Dataset: {{dataset.short_description }}
              <hr>
              <ul>
                <li>Dataset ID: {{dataset.id}}</li>
                <li>Total sequence count: {{dataset.total_sequence_sum}}</li>
                <li>Unique sequence Count: {{dataset.sequence_set.count}}</li>
                <li>Mutations: {{dataset.mutation_set.count}}</li>
                
              </ul>
            </li>
          {% endfor %}
          </ul>
          <hr>
          Virtual datasets:
          <ul>
          {% for vdataset in session.virtualdataset_set.all %}
            <li> Dataset: {{vdataset.short_description}}
              <hr>
              <ul>
                <li>Virtual dataset ID: {{vdataset.id}}</li>
                <li>Total sequence count: {{vdataset.total_sequence_sum}}</li>
                <li>Unique sequence Count: {{vdataset.sequence_set.count}}</li>
              </ul>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <div id="copyright" style="text-align:center">
      <hr>
      <h6>
        
        <br>
      © 2015-2016
      </h6>
    </div>
  </div>
</body>
</html>